<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAoV44h4fa5hAnRHZC6Wi-5uTZUZe2AG9U</string>
	<key>GCM_SENDER_ID</key>
	<string>442464094209</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginApi</string>
	<key>PROJECT_ID</key>
	<string>login-first-8195d</string>
	<key>STORAGE_BUCKET</key>
	<string>login-first-8195d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:442464094209:ios:3f559b6abab1f0d62d9800</string>
</dict>
</plist>